*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    /* background: radial-gradient(circle, rgba(51,0,255,1) 59%, rgba(209,0,255,1) 100%); */
    background-color: rgb(37, 36, 36);
}

.slider.container{
    position: relative;
}

.img{
    width: 100%;
}

.next, .prev{
    position: absolute;
    z-index: 99;
    font-size: 50px;
    top: 45%;
    transform: translateY(-50%);
    cursor: pointer;
}

.next{
    right: 500px;
}

.prev{
    left: 500px;   
}

.next:hover, .prev:hover{
    opacity: 70%;
    color: white;
    transition: all 0.5s ease-in-out;
}

.thumbnails {
    margin: auto;
    width: 10px;
    display: flex;
    justify-content: space-around;
    gap: 0.5em;
    padding: 10px;
    width: 600px;
    height: 100px;
}

.thumbnail{
    opacity: 0.5;
    border-radius: 2px;
    cursor: pointer;
    width: 120px;
    height: 80px;
}

.thumbnail img{
    width: inherit;
    height: inherit;
}

.thumbnail:hover{
    transform: scale(1.1);
    transition: all 0.5s ease;
    opacity: 1;
}